<footer>
  <ul>
      <li><a href="#">Elo</a></li>
      <li><a href="#">Benc</a></li>
  </ul>
  <ul>
    
    <li><a href="#">SWLomza</a></li>
    <li><a href="#">To</a></li>
    <li><a href="#">Lamusy</a></li>
    <li><a href="#">I kasztany</a></li>
  </ul>
  <ul>
    <li><a href="#">SWLomza</a></li>
    <li><a href="#">To</a></li>
    <li><a href="#">Lamusy</a></li>
    <li><a href="#">I kasztany</a></li>
   
  </ul>
  <ul>
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
  </ul>

</footer>
