<footer>
  <ul>
    
    <li><a href="#">SWLomza</a></li>
    <li><a href="#">To</a></li>
    <li><a href="#">Lamusy</a></li>
    <li><a href="#">I kasztany</a></li>
  </ul>
  <ul>
    <li><a href="#">A</a></li>
    <li><a href="#">I kasztany</a></li>
    <li><a href="#">We Francji</a></li>
    <li><a href="#">Najlepsze</a></li>
   
  </ul>
  <ul>
    <li><a href="#">Siema</a></li>
    <li><a href="#">Przyszłem</a></li>
    <li><a href="#">Krening nie zrobił</a></li>
    <li><a href="#">Bo kuciaapa elo</a></li>
    
  </ul>
  <ul>
    <li><a href="#">Ogułem</a></li>
          <li><a href="#">fb dla smiecuw<i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#">twitter dla kuciapow<i class="fab fa-twitter"></i></a></li>
          <li><a href="#">instagram dla stulejow elko<i class="fab fa-instagram"></i></a></li>
  </ul>

</footer>
