<main>
  <div class="intro">
    <h3>Show the world what a pussy are you.</h3>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.
      </p>
  </div>

  <div class="multi-section animated" animateOnScroll animationName="fadeIn">
    <img src="/assets/responsive.jpg" />
    <div>
      <h3>Full Kasztanas Coming in.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.</p>
    </div>
  </div>

  <div class="multi-section-two animated" animateOnScroll animationName="fadeIn">
      <img class="a" src="/assets/programming.jpg" />
      <div class="b">
        <h3>Clean up your handstand bc u will never do it right bitch</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.</p>
      </div>
  </div>
  <div class="multi-section animated" animateOnScroll animationName="fadeIn">
    <img src="/assets/responsive.jpg" />
    <div>
      <h3>Full Kasztanas Coming in.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.</p>
    </div>
  </div>

  <div class="multi-section-two animated" animateOnScroll animationName="fadeIn">
      <img class="a" src="/assets/programming.jpg" />
      <div class="b">
        <h3>Clean up your handstand bc u will never do it right bitch</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.</p>
      </div>
  </div>
  <div class="multi-section animated" animateOnScroll animationName="fadeIn">
    <img src="/assets/responsive.jpg" />
    <div>
      <h3>Full Kasztanas Coming in.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.</p>
    </div>
  </div>

  <div class="multi-section-two animated" animateOnScroll animationName="fadeIn">
      <img class="a" src="/assets/programming.jpg" />
      <div class="b">
        <h3>Clean up your handstand bc u will never do it right bitch</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.</p>
      </div>
  </div>
  <div class="multi-section animated" animateOnScroll animationName="fadeIn">
    <img src="/assets/responsive.jpg" />
    <div>
      <h3>Full Kasztanas Coming in.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.</p>
    </div>
  </div>

  <div class="multi-section-two animated" animateOnScroll animationName="fadeIn">
      <img class="a" src="/assets/programming.jpg" />
      <div class="b">
        <h3>Clean up your handstand bc u will never do it right bitch</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.</p>
      </div>
  </div>


</main>
