<section id="gallery" [ngStyle.lt-md]="{'margin-top': '30px', 'margin-bottom': '30px'}">
    <div class="container gallery-card">

      <div class="gallery-section gallery-heading mat-typography" fxLayout="column" fxLayoutAlign="center center" data-aos="fade-up">
          <div>
          <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Elo Benz</h2>
          </div>
          <div>
          <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Merdedes Tej. Ona ciągnie ci, ale pieniadze hehe.</h3>
          </div>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutGap.sm="8px" data-aos="fade-up">
        <div fxFlex="33.33">
          <mat-card class="p-0 m-0">
            <img mat-card-image src="assets/responsive.jpg" >
            <mat-card-content>
              <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Hola Hola</h5>
              <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
              </p>
              <mat-divider class="mb-1"></mat-divider>
              <button class="gallery-button" mat-icon-button><mat-icon class="text-muted">link1</mat-icon></button>
              <button class="gallery-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33.33">
          <mat-card class="p-0 m-0">
            <img mat-card-image src="assets/responsive.jpg">
            <mat-card-content>
              <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Project Title</h5>
              <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                Sktttttttttttttrrrrrrrrrrrrrrrrrr yoooo
              </p>
              <mat-divider class="mb-1"></mat-divider>
              <button class="gallery-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
              <button class="gallery-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33.33">
          <mat-card class="p-0 m-0">
            <img mat-card-image src="assets/responsive.jpg" >
            <mat-card-content>
              <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Moj projekt to </h5>
              <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                Kesz kesz kesz keszkeszkeszkeszkeszkeszkesz
              </p>
              <mat-divider class="mb-1"></mat-divider>
              <button class="gallery-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
              <button class="gallery-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      
      <div class="gallery-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutGap.sm="8px">
        <div fxFlex="33.33">
          <mat-card class="p-0 m-0">
            <img mat-card-image src="assets/responsive.jpg">
            <mat-card-content>
              <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Project Title</h5>
              <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                Nie nabierzesz mnie jak chochla
              </p>
              <mat-divider class="mb-1"></mat-divider>
              <button class="gallery-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
              <button class="gallery-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33.33">
          <mat-card class="p-0 m-0">
            <img mat-card-image src="assets/responsive.jpg">
            <mat-card-content>
              <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Project Title</h5>
              <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                Nie musze hula hopa do zrobienia koła
              </p>
              <mat-divider class="mb-1"></mat-divider>
              <button class="gallery-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
              <button class="gallery-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33.33">
          <mat-card class="p-0 m-0">
            <img mat-card-image src="assets/responsive.jpg" >
            <mat-card-content>
              <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Project Title</h5>
              <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                Ex kolega frajer nie bendzie wiencej w bandzie elo.
              </p>
              <mat-divider class="mb-1"></mat-divider>
              <button class="gallery-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
              <button class="gallery-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </div>
</section>
