
  
  <app-navbar>
  </app-navbar>
  
  <div class="container">
  <app-header class="animated" animateOnScroll animationName="fadeIn"></app-header>
    <!-- <div class="row p-5">
      <div
      class="col hide-on-init"
      animateOnScroll
      animationName="animated fadeInRight"
      >
      <h4>Sections of text</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet
        elit feugiat, venenatis turpis id, pharetra felis. Cras mollis vitae
        orci eget volutpat. Proin dapibus massa vitae lacus maximus, vitae
        cursus diam sodales. Curabitur laoreet nunc sit amet est sagittis
        rutrum. Nulla at ante sed elit scelerisque vestibulum. Vivamus commodo
        mauris ante, quis varius ante dictum vel. Mauris in est volutpat, auctor
        diam ut, pretium est. Suspendisse ...
      </p>
    </div>
  </div>
  
  <div class="animated" animateOnScroll animationName="fadeIn">
    <p>>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere illo sequi ipsa atque similique quod repellat vero molestias deleniti quos ipsum inventore, voluptatibus corrupti assumenda velit quas dolores? Nihil, corrupti.</p>
  </div>
  <div class="animated" animateOnScroll animationName="fadeIn">
    animated content upon appearing in the viewport..
  </div>
  

  
  <app-footer></app-footer> -->

  <app-main class="animated" animateOnScroll animationName="fadeIn"></app-main>
  <app-gallery></app-gallery>
  <app-ready></app-ready>
</div>
